.wcp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f1f5f9;
    border-radius: 12px;
}

.wcp-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wcp-icon--sm {
    width: 32px;
    height: 32px;
}

.wcp-icon--md {
    width: 48px;
    height: 48px;
}

.wcp-icon--lg {
    width: 64px;
    height: 64px;
}